name: CI

on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
        
      - name: Build with Maven
        run: mvn clean compile jar:jar

      - name: Setup OS dependencies
        run: |
          mvn dependency:copy-dependencies
          mvn dependency:copy-dependencies -P !lwjgl-natives-linux-amd64,lwjgl-natives-windows-amd64

      - name: Organize result
        run: |
          mkdir output
          cp target/jpcsp-1.0-SNAPSHOT.jar output/.
          cp -r target/dependency output/.
          cp Compiler.xml output/.
          cp LogSettings.xml output/.
          unzip target/dependency/jinput-2.0.9-natives-all.jar -d output
          rm -rf output/META-INF
          echo "java -cp \"jpcsp-1.0-SNAPSHOT.jar;dependency/*\" jpcsp.MainGUI" >> output/run.sh
          cp output/run.sh output/run.bat

      - uses: actions/upload-artifact@v4
        with:
          path: output
          name: jpcsp
